<!-- templates/master.html -->
{% extends 'master.html' %}

{% block title %}Logs - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <h3 class="axiBold text-black">Logs</h3>
                        <div class="row">
                            <div class="col-12 col-md-12" >
                                <pre id="output" class="myBox"
                                    style="overflow-y:auto; height: 700px !important; color: #fff !important; background-color: #000;"></pre>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<script>
    $(document).ready(function(){
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "{{ url_for('admins.log_stream')}}", true);
        xhr.setRequestHeader('Authorization', "Bearer {{session.get('jwt_token')}}");
        xhr.send();
        setInterval(function() {
            output.textContent = xhr.responseText;
        }, 500);
    });
</script>
{% endblock %}