{% extends 'master.html' %}

{% block title %}Subscription Management - TRUEPrice{% endblock %}
{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <h3 class="axiBold text-black">Downloads</h3>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-control border-0 px-0">
                                    <label for="curve_type">User</label>
                                    <select name="user" id="user" class="select2-size-lg form-select">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row curves_button mt-3">
                            <h6 class="mb-0 text-dark curves_button">Curve</h6>
                        </div>
                        <div class="row curves_button" id="curves_button">
                        </div>

                        <div class="row control_area_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark control_area_buttons">Control Area</h6>
                        </div>
                        <div class="row control_area_buttons" id="control_area_buttons">
                        </div>

                        <div class="row state_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark state_buttons">State</h6>
                        </div>
                        <div class="row state_buttons" id="state_buttons">
                        </div>

                        <div class="row load_zone_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark load_zone_buttons">Load Zone</h6>
                        </div>
                        <div class="row load_zone_buttons" id="load_zone_buttons">
                        </div>

                        <div class="row capacity_zone_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark capacity_zone_buttons">Capacity Zone</h6>
                        </div>
                        <div class="row capacity_zone_buttons" id="capacity_zone_buttons">
                        </div>

                        <div class="row utility_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark utility_buttons">Utility</h6>
                        </div>
                        <div class="row utility_buttons" id="utility_buttons">
                        </div>

                        <div class="row block_type_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark block_type_buttons">Block Type</h6>
                        </div>
                        <div class="row block_type_buttons" id="block_type_buttons">
                        </div>

                        <div class="row cost_group_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark cost_group_buttons">Cost Group</h6>
                        </div>
                        <div class="row cost_group_buttons" id="cost_group_buttons">
                        </div>

                        <div class="row cost_component_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark cost_component_buttons">Cost Component</h6>
                        </div>
                        <div class="row cost_component_buttons" id="cost_component_buttons">
                        </div>

                        <div class="row sub_cost_component_buttons mt-3" style="display: none;">
                            <h6 class="mb-0 text-dark sub_cost_component_buttons">Sub Cost Component</h6>
                        </div>
                        <div class="row sub_cost_component_buttons" id="sub_cost_component_buttons">
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="form-control border-0 px-0">
                                    <div class="btn-group" role="group">
                                        <input type="radio" class="btn-check" name="btnradio" id="date_radio"
                                            autocomplete="off" checked>
                                        <label class="btn btn-primary" for="date_radio">Dates</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="range_radio"
                                            autocomplete="off">
                                        <label class="btn btn-primary" for="range_radio">Balanced Ranges</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="dates" class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-control border-0 px-0">
                                    <label for="start" class="form-label text-dark">Start</label>
                                    <input type="date" class="form-control mt-2 " required id="start" name="start">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-control border-0 px-0">
                                    <label for="end" class="form-label text-dark">End</label>
                                    <input type="date" class="form-control mt-2  " required id="end" name="end">
                                </div>
                            </div>
                        </div>
                        <div class="row d-none" id="ranges">
                            <div class="col-12 col-md-6">
                                <div class="form-control border-0 px-0">
                                    <label for="bal_month" class="form-label text-dark">Month Ranges</label>

                                    <input type="number" value="1" class="form-control mt-2 " required id="bal_month"
                                        name="bal_month">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12 mt-2 justify-content-center align-items-center text-center">
                                <button id="submition" type="button" class="btn btn-primary btn-block">
                                    Add Filter
                                </button>
                                <button id="reset" type="button" class="btn btn-warning btn-block">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<script>
    function currennt_date() {
        // Get the current date
        var currentDate = new Date();

        // Format the date as YYYY-MM-DD
        var year = currentDate.getFullYear();
        var month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
        var day = currentDate.getDate().toString().padStart(2, '0');
        var formattedDate = year + '-' + month + '-' + day;
        return formattedDate;

    }

    function next_date() {
        var currentDate = new Date();
        // Subtract five years from the current date
        var fiveYearsAgo = new Date(currentDate.getFullYear() - 5, currentDate.getMonth(), currentDate.getDate());

        // Format the date as YYYY-MM-DD
        var year = fiveYearsAgo.getFullYear();
        var month = (fiveYearsAgo.getMonth() + 1).toString().padStart(2, '0');
        var day = fiveYearsAgo.getDate().toString().padStart(2, '0');
        var formattedDate = year + '-' + month + '-' + day;
        return formattedDate;
    }

    end = currennt_date();
    start = next_date();

    // Set the value of the input field
    document.getElementById('start').value = start;
    document.getElementById('end').value = end;


</script>
<script src="static/js/package_manager.js"></script>
{% endblock %}