<!-- templates/master.html -->
{% extends 'master.html' %}

{% block title %}Recent Uploads - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <h3 class="axiBold text-black">Uploads</h3>
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 border-start-0 ">
                            <div class="table-responsive table-dense">
                                <table id="myTable" class="table cHeader">
                                    <thead>
                                        <tr>
                                            <th class="px-1">Email</th>
                                            <th class="px-1">File</th>
                                            <th class="px-1">Time Stamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        {% if data%}
                                        {% for row in data %}
                                        <tr>
                                            <td>{{row["email"]}}</td>
                                            <td>{{row["filename"]}}</td>
                                            <td>{{row["timestamp"]}}</td>
                                        </tr>
                                        {% endfor %}
                                        {%endif%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<link rel="stylesheet" type="text/css" href="/static/app-assets/css/datatable.css" />
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();

        var searchBox = $('#myTable_filter input');

        // Modify the search input's placeholder, add a class, or change other attributes
        searchBox.attr('placeholder', 'Search...');
        searchBox.addClass('search-input');
    });
</script>
{% endblock %}