{% extends 'master.html' %}

{% block title %}Column Subscription - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mb-0">

                <div class="card-body">
                    <h3 class="axiBold text-black">Authorized Column Filters</h3>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="table-responsive table-dense">
                                <table id="myTable" class="table cHeader">
                                    <thead>
                                        <tr>
                                            <th class="px-1">Email</th>
                                            <th class="px-1">Control Table</th>
                                            <th class="px-1">Start Month</th>
                                            <th class="px-1">End Date</th>
                                            <th class="px-1">Months</th>
                                            <th class="px-1">Control Area</th>
                                            <th class="px-1">State</th>
                                            <th class="px-1">Load Zone</th>
                                            <th class="px-1">Capacity Zone</th>
                                            <th class="px-1">Utility</th>
                                            <th class="px-1">Strip</th>
                                            <th class="px-1">Cost Group</th>
                                            <th class="px-1">Cost Component</th>
                                            <th class="px-1">Sub Cost Component</th>
                                            <th class="px-1">Action</th>



                                        </tr>

                                    </thead>
                                    <tbody>
                                        {% if data%}
                                        {% for row in data %}
                                        <tr>
                                            <td>{{row["email"]}}</td>
                                            <td>{{row["control_table"]}}</td>
                                            <td>{{row["startmonth"]}}</td>
                                            <td>{{row["endmonth"]}}</td>
                                            <td>{{row["balanced_month_range"]}}</td>
                                            <td>{{row["control_area"]}}</td>
                                            <td>{{row["state"]}}</td>
                                            <td>{{row["load_zone"]}}</td>
                                            <td>{{row["capacity_zone"]}}</td>
                                            <td>{{row["utility"]}}</td>
                                            <td>{{row["strip"]}}</td>
                                            <td>{{row["cost_group"]}}</td>
                                            <td>{{row["cost_component"]}}</td>
                                            <td>{{row["sub_cost_component"]}}</td>


                                            <td>
                                                <a title="Remove"
                                                    href="/delete_column_filter_ui?filter_id={{ row['id'] }}"
                                                    onclick="return confirm('Are you sure you want to delete this item?');"
                                                    class="m-2">
                                                    <img src="/static/app-assets/media/trash.svg" alt="reset"
                                                        class="icon-size-14" />
                                                </a>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        {%endif%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<link rel="stylesheet" type="text/css" href="/static/app-assets/css/datatable.css" />
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
        var searchBox = $('#myTable_filter input');

        // Modify the search input's placeholder, add a class, or change other attributes
        searchBox.attr('placeholder', 'Search...');
        searchBox.addClass('search-input');
    });
</script>
{% endblock %}