<!-- templates/master.html -->
{% extends 'master.html' %}

{% block title %}Graph View - TRUEPrice{% endblock %}

{% block content %}

<form id="download_forms" enctype="multipart/form-data" method="POST">
    <div class="content-body">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="axiBold text-black">Graph Parameters</h3>
                        {% include 'components/graphviewfilters.html'%}
                        <div class="col-12 col-md-12 mt-2">
                            <button type="button"  id="save" class="btn btn-primary btn-block w-100">
                              GENERATE GRAPH VEIW
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</form>


<div id='chart' class='chart'></div>

</div>
{% endblock %}
{% block scriptblock %}
    <script src="static/js/multiselect.js"></script>
<script src="static/js/data_loader_graph_view.js"></script>
<link rel="stylesheet" href="/static/app-assets/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script>
    $(document).ready(function () {
        if (truelight && truelight.graphview) {
            truelight.graphview.onload();
        }
    });
</script>
{% endblock %}