{% extends 'master.html' %}

{% block title %}Graph View - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row mb-1">
                <div class="col-12 col-md-4 mt-auto">
                    <h3 class="axiBold text-black">Energy Price Over Time (7 x 24)</h3>
                </div>
                <div class="col-12 col-md-8 align-items-center justify-content-end">
                    
                    <div class="button-container justify-content-end">
                        <!-- Button group -->
                        <div class="btn-group" role="group" aria-label="Time filters">
                            <button id="btnDayOverDay" type="button" class="btn btn-secondary ps-1 pe-1">Day/Day</button>
                            <div class="separator"></div>
                            <button id="btnWeekOverWeek" type="button" class="btn btn-secondary ps-1 pe-1">Week/Week</button>
                            <div class="separator"></div>
                            <button id="btnMonthOverMonth" type="button" class="btn btn-secondary ps-1 pe-1">Month/Month</button>
                            <div class="separator"></div>
                            <button id="btnAddCustomGraphToggle" type="button" class="btn btn-primary w-140px ps-0 pe-0 fs-10px">
                                <img src="/static/app-assets/media/custom-graph.svg" width="15" height="15" /> Custom Curve
                            </button>
                            <div class="separator"></div>
                            <button id='btnDownload' type="button" class="btn btn-warning ps-1 pe-1 fs-10px">
                                <img src="/static/app-assets/media/export.svg" width="15" height="15" /> Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                      
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div style="height: 350px;" id='linechart' class='chart'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div style="height: 300px;" id='barchart' class='chart'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive table-dense col-12 col-md-12">
                                <div id='comparisontable' class='chart'></div>
                                <div id='comparisontablebody' class='chart'></div>
                                <!-- style="height: 350px;" -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'components/graphviewfiltersmodal.html'%}

{% endblock %}

{% block scriptblock %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
<script src="{{ url_for('static', filename='js/loader.js')}}"></script>
<script src="{{ url_for('static', filename='js/toaster.js')}}"></script>
<script src="{{ url_for('static', filename='js/data_loader_graph_view.js')}}"></script>
<script src="{{ url_for('static', filename='js/graphview.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/static/app-assets/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script>

    var token = "{{session.get('jwt_token')}}";

    $(document).ready(function () {
        if (truelight && truelight.graphview && truelight.graphview.view) {
            {% if graph_details %}
            truelight.graphview.view.setFilters({{ graph_details | tojson | safe }});
            {% endif %}
            truelight.graphview.view.onViewLoad(token);
        }
    });
</script>

</body>

</html>
{% endblock %}