<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Download</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="/static/external_cdns/css/css2.css" rel="stylesheet">

    <!-- Icon Font Stylesheet -->

    <link href="/static/external_cdns/css/all.min.css" rel="stylesheet">
    <link href="/static/external_cdns/css/bootstrap-icons.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- scroll_bar -->
    <!-- <script src="static/js/multiselect.js" ></script> -->
    
</head>

<body>
   
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            {% include 'navbar.html'%}
        </div>
        <!-- Sidebar End -->


         <!-- Content Start -->
         <div class="content">
            <!-- Navbar Start -->
            {% include 'upper_navbar.html'%}
            <!-- Navbar End -->

            {% include 'notification.html'%}

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 align-items-center justify-content-center mx-0  mt-5">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-dark rounded h-100 p-4">
                            <h6 class="mb-4 text-dark">Downloads</h6>
                            <form id="download_forms" enctype="multipart/form-data" method="post">
                                
                                <div class="mb-3">
                                    <label for="curve_type" class="form-label">Data Type</label>
                                    <select name="curve_type" id ="curve_type" class="form-select form-control mt-2  " >
                                        <option value="energy">Energy</option>
                                        <option value="nonenergy">Non-Energy</option>
                                        <option value="rec">REC</option>
                                        <option value="ptc">PTC</option>
                                        <option value="matrix">Matrix Pricing</option>
                                        <option value="headroom">Headroom</option>
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="iso" class="form-label">ISO</label>
                                    <select name="iso" id="iso" class="form-select form-control mt-2" >
                                        <!-- <option value="ercot">ERCOT</option>
                                        <option value="isone">ISONE</option>
                                        <option value="miso">MISO</option>
                                        <option value="nyiso">NYISO</option>
                                        <option value="pjm">PJM</option> -->
                                    </select>
                                    
                                </div>

                                

                                <div class="mb-3">
                                    <label for="strip" class="form-label">Strip</label>
                                    <select name="strip" required id="strip" style="background-color: aliceblue;" class=" form-select col-md-12 form-control mt-2   chosen-select" multiple data-live-search="true" data-select-all="true" >
                                        <!-- <option id="5x16" hidden value="strip_5x16">5x16</option>
                                        <option id="7x8" value="strip_7x8">7x8</option>
                                        <option id ='7x24' value="strip_7x24">7x24</option>
                                        <option id= '2x16' value="strip_2x16">2x16</option> -->
                                    </select>
                                </div>


                                <div class="mb-3">

                                    <label for="operating_day" class="form-label">Operating Day</label>
                                    <input type="date"  readonly="readonly" required class="form-control mt-2" id="operating_day" name="operating_day"  >
                                    
                                </div>

                                <div class="mb-3">

                                    <label for="start" class="form-label">Start</label>
                                    <input type="date" class="form-control mt-2 " required id="start" name="start"  >
                                    
                                </div>

                                

                                <div class="mb-3">
                                    <label for="end" class="form-label">End</label>
                                    
                                    <input type="date" class="form-control mt-2  " required id="end" name="end"  >
                                   
                                </div>

                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">

                                        <div class="mb-3 form-radio">
                                            <input type="radio" class="form-radio-input" value="all" id="all" name="history">
                                            <label class="form-radio-label" for="all">All Curves</label>
        
                                            <input type="radio" class="form-radio-input" value="cob" id="cob" name="history">
                                            <label class="form-radio-label" for="cob">COB Only</label>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-8">
                                        <div class="mb-3 form-radio">
                                            <input type="radio" checked class="form-radio-input" value="csv" id="csv" name="type">
                                            <label class="form-radio-label" for="csv">CSV</label>
        
                                            <input type="radio" class="form-radio-input" value="json" id="json" name="type">
                                            <label class="form-radio-label" for="json">JSON</label>
                                        </div>
                                        
                                    </div>

                                </div>

                                
                                
                                <div class="mb-3">
                                    <input type="submit" value="Download" id="save" class="btn btn-primary w-100 m-2">
                                </div>
                            </form>
                        </div>
                    </div>                
            </div>

            
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            {% include 'footer.html'%}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
         
    </div>

    <!-- JavaScript Libraries -->
    <script src="/static/external_cdns/js/jquery-3.4.1.min.js"></script>
    <script src="/static/external_cdns/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>

    <!-- Template Javascript -->
    <script type='text/javascript'>
        var token = "{{session.get('jwt_token')}}";
    </script>
    
    <script src="static/js/main.js"></script>
    <script src="static/js/download_page.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

  
</body>

</html>