{% extends 'master.html' %}

{% block title %}Downloads - TRUEPrice{% endblock %}
{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <h3 class="axiBold text-black">Downloads</h3>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-control border-0 px-0">
                                    <label for="curve_type">Data Type</label>
                                    <select name="curve_type" id="curve_type" class="select2-size-lg form-select">
                                        <option value="energy">Energy</option>
                                        <option value="nonenergy">Non-Energy</option>
                                        <option value="rec">REC</option>
                                        <option value="ptc">PTC</option>
                                        <option value="matrix">Matrix Pricing</option>
                                        <option value="headroom">Headroom</option>
                                    </select>
                                </div>
                                <div class="form-control border-0 px-0">
                                    <label for="strip">Strip</label>
                                    <select name="strip" required id="strip" class="select2-size-lg form-select w-100" multiple data-live-search="true" data-select-all="true">
                                    </select>
                                </div>
                                <div class="form-control border-0 px-0">
                                    <label for="start">Start Date</label>
                                    <input type="date" class="form-control" required id="start" name="start" />
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-control border-0 px-0">
                                    <label for="iso">ISO</label>
                                    <select name="iso" id="iso" class="select2-size-lg form-select"></select>
                                </div>
                                <div class="form-control border-0 px-0" id="odc">
                                    <label for="operating_day">Operating Day</label>
                                    <input readonly type="text" required class="form-control " id="operating_day"
                                        name="operating_day" />
                                </div>
                                <div class="form-control border-0 px-0">
                                    <label for="end">End Date</label>
                                    <input type="date" class="form-control " required id="end" name="end">
                                </div>
                            </div>
                            <div class="mt-2 d-flex align-items-center">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="all">
                                        <input type="radio" class="form-check-input" value="all" id="all" name="history" />
                                        All Curves
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="cob">
                                        <input type="radio" class="form-check-input" value="cob" id="cob" name="history" />
                                        COB Only
                                    </label>
                                </div>
                                <!-- Grey Pipe Separator -->
                                <span class="mx-2 separator"></span>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="csv">
                                        <input type="radio" checked class="form-check-input" value="csv" id="csv" name="type" />
                                        CSV
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="json">
                                        <input type="radio" class="form-check-input" value="json" id="json" name="type" />
                                        JSON
                                    </label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-12 mt-2">
                                <button id="save" type="submit" class="btn btn-primary btn-block w-100">
                                    <img src="/static/app-assets/media/download.svg" class="me-1" /> DOWNLOAD
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<!-- <script src="/static/app-assets/vendors/js/forms/select/select2.full.min.js"></script> -->
<!-- <script src="/static/app-assets/js/scripts/forms/form-select2.js"></script> -->

<!-- <link rel="stylesheet" type="text/css" href="/static/app-assets/vendors/css/forms/select/select2.min.css"> -->


<script src="/static/js/download_page.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/datepicker.css" rel="stylesheet"
    type="text/css" /> -->
<link rel="stylesheet" href="/static/app-assets/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

{% endblock %}