
body {
  background: url('https://f.hubspotusercontent30.net/hubfs/456834/home%20banner.jpeg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}
.download_form_cont {
    margin: 20px;
    padding: 20px;
    background: rgba(57, 91, 100, 0.7);
  
    color:#fff;
    overflow:hidden;
  }
  #download_form {
    float:left;
    padding:20px;
    width:700px;
  }
  #download_form > div {
    margin-bottom:10px;
  }


  .login_form_cont {
    margin: 20px;
    margin-top: 170;
    padding: 20px;
    background: rgba(57, 91, 100, 0.7);
    background: rgba(57, 91, 100, 0.7);
  
    color:#fff;
    overflow:hidden;
  }
  #login_form {
    float:left;
    padding:20px;
    width:700px;
  }
  #login_form > div {
    margin-bottom:10px;
  }
