<div class="modal fade" id="customGraphFiltersModal" tabindex="-1" aria-labelledby="customGraphFiltersModalLabel">
    <div class="modal-dialog modal-dialog-attached-right">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customGraphFiltersModalLabel">Add Custom Graph</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% include 'components/graphviewfilters.html'%}
        </div>
        <div class="modal-footer">
            <button id="btnAddGraph" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Add Graph</button>
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>