flasgger
pandas
psycopg2-binary
sqlalchemy<2.0 # issue with execute
flask
werkzeug
PyJWT
boto3
pyopenssl # for TLS - see https://blog.miguelgrinberg.com/post/running-your-flask-application-over-https
flasgger
apscheduler
croniter
plotly
XlsxWriter
