{% extends 'master.html' %}

{% block title %}Headroom Heatmap - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="row mb-1">
                <div class="col-12 col-md-4 mt-auto">
                    <h3 class="axiBold text-black">Headroom Heatmap ($/kWh)</h3>
                </div>
            </div>
            <div class="card mb-1">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12 col-md-12">
                                <svg id="heapmap_graph" class="w-100 h-100"></svg>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <div class="table-responsive table-dense">
                                    <table id="data-table" class="table cHeader" style="white-space: nowrap;">
                                        <!-- Table headers will be added dynamically using JavaScript -->
                                        <thead>
                                            <tr>
                                                <th class="px-1">State</th>
                                                <th class="px-1">Utility</th>
                                                <th class="px-1">Customer_ Type</th>
                                                <th class="px-1">TLE Retail Price</th>
                                                <th class="px-1">Utility Price</th>
                                                <th class="px-1">Headroom</th>
                                                <th class="px-1">Headroom (%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Data rows will be added dynamically using JavaScript -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="tooltip"
    style="position: absolute; opacity: 0; pointer-events: none; background-color: white; border: solid 1px #ccc; padding: 10px;">
    <!-- Tooltip content will go here -->
</div>
{% endblock %}
{% block scriptblock %}
<script src="static/app-assets/js/core/geoJSON.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script type='text/javascript'>
    var json_data = {{ data | tojson }}; 
</script>
<script src="{{ url_for('static', filename='js/heatmap_mapper.js')}}"></script>
<script src="{{ url_for('static', filename='js/data_loader_graph_view.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}