<!DOCTYPE html>
<html>
<head>
	<title>Download</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="https://malsup.github.io/jquery.form.js"></script> 
	<link href="/static/css/notification.css" rel="stylesheet"/>
	<script src="/static/js/notification.js"></script>

	<link rel="stylesheet" href="/static/css/download_data.css">
	<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
	<div id="toast-container"></div>
	{% if flash_message == True %}

    <script>show_toast('{{ message_toast }}', '{{ message_flag }}', '{{ page_type }}')</script>
    {% endif %}

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
		<div class="container">
	
		<div class="download_form_cont">
			<b><h1 style="color: white;" class="text-center">Download Data</h1></b>
			<div class="form-group">
				<form id="download_forms" enctype="multipart/form-data" method="post">
				<div class="row">
				
					<label for="iso" class="col-md-4 mt-3 "><h4>ISO:</h4></label>
					<div class="col-md-8">
						<select name="iso" class="form-control mt-2 bg-dark text-white" style="font-size:18pt;height:40px;">
							<option value="ercot">ERCOT</option>
							<option value="isone">ISONE</option>
							<option value="miso">MISO</option>
							<option value="nyiso">NYISO</option>
							<option value="pjm">PJM</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label for="curve_type" class="col-md-4 mt-3 "><h4>Curve type:</h4></label>
					<div class="col-md-8">
						<select name="curve_type" class="form-control mt-2 bg-dark text-white" style="font-size:18pt;height:40px;">
							<option value="energy">Energy</option>
							<option value="nonenergy">Non-energy</option>
							<option value="rec">Rec</option>
						</select>
					</div>
				</div>
				<div class="row">		
					<label for="strip" class="col-md-4 mt-3 "><h4>Strip:</h4></label>
					<div class="col-md-8">
						<select name="strip" class="form-control mt-2 bg-dark text-white" style="font-size:18pt;height:40px;">
							<option value="strip_24x7">24x7</option>
							<option value="strip_5x16">5x16</option>
							<option value="strip_7x8">7x8</option>
							<option value="strip_7x24">7x24</option>
							<option value="strip_7x25">7x25</option>
						</select>
					</div>
				</div>

				<div class="row">
					<label for="type" class="col-md-4 mt-3"><h4>Data format:</h4></label>
					<div class="col-md-8 ">
						<select name="type" class="form-control mt-2 bg-dark text-white " style="font-size:18pt;height:40px;">
							<option value="csv">csv</option>
							<option value="json">JSON</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label for="start" class="col-md-4 mt-3"><h4>Start date:</h4></label>
					<div class="col-md-8 ">
						<input type="date" class="form-control mt-2 bg-dark text-white" required id="start" name="start" style="font-size:18pt;height:40px;">
					</div>
				</div>
				
				<div class="row">
					<label for="end" class="col-md-4 mt-3"><h4>End date:</h4></label>
					<div class="col-md-8 ">
						<input type="date" class="form-control mt-2 bg-dark text-white" required id="end" name="end" style="font-size:18pt;height:40px;">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4"></div>
						<input type="submit" value="Download" id="save" class = "col-md-4 btn-info btn-lg mt-5" />
					</div>
				</div>
				
			</form>
			</div>

	
	
</div>
		 </div>   
	</div>
</div>
</body>
</html>