<div class="container-fluid pt-4 px-4" style="position: relative; left: 0; right: 0; top:50%; ">
	<div class="bg-secondary rounded-top p-4">
		<div class="row">
			<div class="col-12 col-sm-6 text-center text-sm-start">
				&copy; <a href="info@truelightenergy.com">TruePrice</a>, All Right Reserved. 
			</div>
			<div class="col-12 col-sm-6 text-center text-sm-end">
				<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
				Phone <a href="">617-209-2420</a>
				<br>Info: <a href="info@truelightenergy.com" target="_blank">info@truelightenergy.com</a>
			</div>
		</div>
	</div>
</div>