<footer class="text-white py-4" style="background: rgba(32, 62, 74, 1); font-size:12pt;">
	<div class="container">
	  <div class="row">
		<div class="col-md-3">
		  <h4>About TruePrice</h4>
		  <p><b>Energy Data Analytics & Execution</b></p>
		</div>

		<div class="col-md-3">
		  <h4>Address</h4>
		  <ul class="list-unstyled">
			
			<li><i class="bi bi-geo-alt-fill"></i> <b>One Marina Park Drive</b></li>
			<li><i class="bi bi-geo-alt-fill"></i> <b>Suite 1410</b></li>
			<li><i class="bi bi-phone-fill"></i> <b>Boston, MA 02210</b> </li>
		  </ul>
		</div>

		<div class="col-md-3">
			<h4>Phone</h4>
			<ul class="list-unstyled">
			  <li><i class="bi bi-phone-fill"></i><b>617-209-2420 </b></li>
			</ul>
		  </div>

		  <div class="col-md-3">
			<h4>One Marina Park Drive</h4>
			<ul class="list-unstyled">
			  <li><i class="bi bi-envelope-fill"></i><b> info@truelightenergy.com</b></li>
			</ul>
		  </div>

	  </div>
	  <hr class="my-4">
	  <p class="text-center">© 2023 TruePrice</p>
	</div>
  </footer>