<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="/static/css/notification.css" rel="stylesheet"/>
    <script src="/static/js/notification.js"></script>



</head>
<body>
	<div id="toast-container"></div>
	{% if flash_message == True %}

    <script>show_toast('{{ message_toast }}', '{{ message_flag }}', '{{ page_type }}'); </script>
    {% endif %}

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
		<div class="container">
			{%if session["level"]=="admin" or session["level"]=="read_write_user"%}
			   <div class="row mt-5">
				  <div class="col-md-6">
					
						<div class="card text-white flex-md-row mb-4 shadow-sm h-md-250">
						   <div class="card-body d-flex flex-column align-items-start">
							  <strong class="d-inline-block mb-2 text-white">Upload</strong>
							  <h6 class="mb-0">
								 <a class="text-white disabled" href="upload_zip">Upload zip file</a>
							  </h6>
							 
							  <p class="card-text mb-auto"></p>
							  <a class="btn btn-primary btn-lg disabled" role="button" href="upload_zip">Upload Zip</a>
						   </div>
						   <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="/static/images/zip.png" style="width: 200px; height: 250px;">
						</div>
					</div>
				 
				 
					<div class="col-md-6">					
						<div class="card text-white flex-md-row mb-4 shadow-sm h-md-250">
						   <div class="card-body d-flex flex-column align-items-start">
							  <strong class="d-inline-block mb-2 text-white">Upload</strong>
							  <h6 class="mb-0">
								 <a class="text-white" href="upload_csv">Upload CSV file</a>
							  </h6>
							  
							  <p class="card-text mb-auto"></p>
							  <a class="btn btn-success btn-lg" role="button" href="upload_csv">Upload CSV</a>
						   </div>
						   <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="/static/images/csv.png" style="width: 200px; height: 250px;">
						</div>
					</div>
					
				  
			   
				  {%endif%}
		 
				  
					 
					 <div class="col-md-6">
						<div class="card text-white flex-md-row mb-4 shadow-sm h-md-250">
						   <div class="card-body d-flex flex-column align-items-start">
							  <strong class="d-inline-block mb-2 text-white">Data Download</strong>
							  <h6 class="mb-0">
								 <a class="text-white" href="download_data">Download data (csv or json)</a>
							  </h6>
							  <p class="card-text mb-auto"></p>
							  <a class="btn btn-info btn-lg" role="button" href="download_data">Download</a>
						   </div>
						   <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="/static/images/download.png" style="width: 200px; height: 250px;">
						</div>
					 </div>
					 
				  </div>
			 </div>
		 </div>   
	</div>
</div>
</body>
</html>