<!DOCTYPE html>
<html>
<head>
	<title>Logs</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
	
	<script src="https://malsup.github.io/jquery.form.js"></script> 


	<link rel="stylesheet" type=text/css href='static/css/stream_logging.css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	
	<script>
		$(document).ready(function(){
		  var output = document.getElementById('output');
		  var xhr = new XMLHttpRequest();
		  xhr.open('GET', "{{ url_for('log_stream')}}", true);
		  xhr.send();
		  setInterval(function() {
			output.textContent = xhr.responseText;
		  }, 500);
		});
	  </script>


</head>
<body>
	

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
			<div class="container">
				<div class="row">
		  
				  <div class="col-md-12">
					<pre id="output" class="myBox"  style="color: #fff !important;"></pre>
				  </div>
		  
				</div>
			  </div>
		
		 </div>   
	</div>
</div>
</body>
</html>