<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Site Maintenance</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <style>
      body {
        background: #fff ;
        color: rgba(32, 62, 74, 1);;
      }
      .container {
        margin-top: 20%;
        text-align: center;
      }
      h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.5rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Site Maintenance</h1>
      <p>We are currently performing maintenance on the site and will be back shortly.</p>
      <p>Thank you for your patience.</p>
    </div>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js" integrity="sha384-lAdXYV7c07X+PW/qV/9sTzzTddV6Cf8N+OHL6v/0ckBpPHfjoK9XZLIlcZJpllpI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
