
<nav class="navbar bg-secondary navbar-dark">
    <a href="{{ url_for('auths.index') }}" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-bolt me-2"></i>TRUEPrice</h3>
    </a>
    
    <div class="navbar-nav w-100" style="width: 2000px;">
        <a href="{{ url_for('auths.index') }}" class="nav-item nav-link {% if request.path == '/home' %}active{% endif %}"><i class="fa fa-home me-2"></i>My TRUEPrice</a>
        <!-- <a href="{{ url_for('auths.update_password')}}" class="nav-item nav-link {% if request.path == '/update_password' %}active{% endif %} "><i class="fa fa-key me-2"></i>Password</a> -->
        {%if session["level"]=="admin" or session["level"]=="read_write_user"%} 
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path == '/upload_csv' %}active{% endif %}" data-bs-toggle="dropdown"><i class="fa fa-upload me-2"></i>Uploads</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{{ url_for('ingestors.upload_csv')}}" class="dropdown-item"><i class="fa fa-file me-2"></i>CSV</a>
                    <a href="#" class="dropdown-item disabled"><i class="fa fa-archive me-2"></i>ZIP</a>
                </div>
            </div>
            <a href="{{ url_for('admins.upload_status')}}" class="nav-item nav-link {% if request.path == '/upload_status' %}active{% endif %}"><i class="fa fa-clipboard me-2"></i>Recent Uploads</a>
        
        {%endif%}


        <a href="{{ url_for('extractors.download_data')}}" class="nav-item nav-link {% if request.path == '/download_data' %}active{% endif %}"><i class="fa fa-download me-2"></i>Download Data</a>
        {%if session["level"]=="admin"%}
        
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle {% if request.path == '/add_filter' or request.path == '/package_mgmt' %}active{% endif %}" data-bs-toggle="dropdown"><i class="fa fa-filter me-2"></i>Subscription</a>
            <div class="dropdown-menu bg-transparent border-0">
                <a href="{{ url_for('admins.add_filter')}}" class="dropdown-item"><i class="fa fa-columns me-2"></i>Columns</a>
                <a href="{{ url_for('admins.package_mgmt')}}" class="dropdown-item"><i class="fa fa-filter me-2"></i>Packages</a>
                
                
            </div>
        </div>
            
            <a href="{{ url_for('admins.get_logs')}}" class="nav-item nav-link {% if request.path == '/get_logs' %}active{% endif %} "><i class="fa fa-clock me-2"></i>Logs</a>
            <a href="{{ url_for('admins.site_control')}}" class="nav-item nav-link {% if request.path == '/site_control' %}active{% endif %}"><i class="fa fa-cog me-2"></i>Site</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path == '/create_user' or request.path == '/view_user' %}active{% endif %}" data-bs-toggle="dropdown"><i class="far fa-user me-2"></i>User</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{{ url_for('auths.create_user')}}" class="dropdown-item"><i class="fa fa-plus me-2"></i>Create</a>
                    <a href="{{ url_for('auths.view_user')}}" class="dropdown-item"><i class="fa fa-eye me-2"></i>View</a>
                    
                    
                </div>
            </div>
            
        
            {%endif%}

        <a href="{{ url_for('graph_view.generate_garph_view')}}" onclick="sessionHandler();" class="nav-item nav-link {% if request.path == '/generate_garph_view' or request.path == '/graph'  %}active{% endif %} "><i class="far fa-chart-bar me-2"></i>Graph View</a>
        <a href="{{ url_for('headrooms.generate_headroom_heatmap')}}" class="nav-item nav-link {% if request.path == '/generate_headroom_heatmap' %}active{% endif %} "><i class="fa fa-globe me-2"></i><span>Headroom Heatmaps</span></Headroom></a>

        {%if session["level"]=="read_only_user"%}
        <a href="{{ url_for('auths.contact')}}" class="nav-item nav-link {% if request.path == '/contact' %}active{% endif %} "><i class="fa fa-address-book me-2"></i>My Account</a>
        {%endif%}
        
        <a href="{{ url_for('auths.logout')}}" class="nav-item nav-link"><i class="fa fa-power-off me-2"></i>Log Out</a>
    </div>
</nav>

<script>
    function sessionHandler() {
        sessionStorage.clear()
    }
  </script>
