<!-- <nav class="navbar bg-secondary navbar-dark">
    <a href="{{ url_for('auths.index') }}" class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary"><i class="fa fa-bolt me-2"></i>TRUEPrice</h3>
    </a>
    
    <div class="navbar-nav w-100" style="width: 2000px;">
        <a href="{{ url_for('auths.index') }}" class="nav-item nav-link {% if request.path == '/home' %}active{% endif %}"><i class="fa fa-home me-2"></i>My TRUEPrice</a>
        {%if session["level"]=="admin" or session["level"]=="read_write_user"%}           

            <a href="{{ url_for('ingestors.upload_csv')}}" class="nav-item nav-link {% if request.path == '/upload_csv' %}active{% endif %}"><i class="fa fa-upload me-2"></i>Upload CSV</a>
       
            <a href="{{ url_for('admins.upload_status')}}" class="nav-item nav-link {% if request.path == '/upload_status' %}active{% endif %}"><i class="fa fa-clipboard me-2"></i>Recent Uploads</a>
        
        {%endif%}


        <a href="{{ url_for('extractors.download_data')}}" class="nav-item nav-link {% if request.path == '/download_data' %}active{% endif %}"><i class="fa fa-download me-2"></i>Download Data</a>
        {%if session["level"]=="admin"%}
        
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle {% if request.path == '/add_filter' or request.path == '/package_mgmt' %}active{% endif %}" data-bs-toggle="dropdown"><i class="fa fa-filter me-2"></i>Subscription</a>
            <div class="dropdown-menu bg-transparent border-0">
                <a href="{{ url_for('admins.add_filter')}}" class="dropdown-item"><i class="fa fa-columns me-2"></i>Columns</a>
                <a href="{{ url_for('admins.package_mgmt')}}" class="dropdown-item"><i class="fa fa-filter me-2"></i>Packages</a>
                
                
            </div>
        </div>
            
            <a href="{{ url_for('admins.get_logs')}}" class="nav-item nav-link {% if request.path == '/get_logs' %}active{% endif %} "><i class="fa fa-clock me-2"></i>Logs</a>
            <a href="{{ url_for('admins.site_control')}}" class="nav-item nav-link {% if request.path == '/site_control' %}active{% endif %}"><i class="fa fa-cog me-2"></i>Site</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if request.path == '/create_user' or request.path == '/view_user' %}active{% endif %}" data-bs-toggle="dropdown"><i class="far fa-user me-2"></i>User</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="{{ url_for('auths.create_user')}}" class="dropdown-item"><i class="fa fa-plus me-2"></i>Create</a>
                    <a href="{{ url_for('auths.view_user')}}" class="dropdown-item"><i class="fa fa-eye me-2"></i>View</a>
                    
                    
                </div>
            </div>
            
        
            {%endif%}

        <a href="{{ url_for('graph_view.generate_garph_view')}}" onclick="sessionHandler();" class="nav-item nav-link {% if request.path == '/generate_garph_view' or request.path == '/graph'  %}active{% endif %} "><i class="far fa-chart-bar me-2"></i>Graph View</a>
        <a href="{{ url_for('headrooms.generate_headroom_heatmap')}}" class="nav-item nav-link {% if request.path == '/generate_headroom_heatmap' %}active{% endif %} "><i class="fa fa-globe me-2"></i><span>Headroom Heatmap</span></Headroom></a>

        {%if session["level"]=="read_only_user"%}
        <a href="{{ url_for('auths.contact')}}" class="nav-item nav-link {% if request.path == '/contact' %}active{% endif %} "><i class="fa fa-address-book me-2"></i>My Account</a>
        {%endif%}
        
        <a href="{{ url_for('auths.logout')}}" class="nav-item nav-link"><i class="fa fa-power-off me-2"></i>Log Out</a>
    </div>
</nav>

<script>
    function sessionHandler() {
        sessionStorage.clear()
    }
  </script> -->


<div id="navigation" class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
  <div class="navbar-header">
    <ul class="nav navbar-nav flex-row">
      <li class="nav-item me-auto flex align-center mt-1">
        <a class="navbar-brand mt-0" href="/">
          <img src="/static/app-assets/media/logo.png" alt="Logo" />
        </a>
        <!-- <a class="tlLogoSmall mt-0" href="/">
          <img src="/static/app-assets/media/energy.svg" alt="Energy" />
        </a> -->
      </li>
    </ul>
  </div>
  <div class="shadow-bottom"></div>
  <div class="main-menu-content">
    <div class="d-flex flex-column h-100">
      <div class="d-flex flex-column h-100">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class="nav-item mt-3">
            <a class="d-flex align-items-center" href="/">
              <i class="inline-flex"><img src="/static/app-assets/media/truePrice.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">My TRUEPrice</span>
            </a>
          </li>
          {%if session["level"]=="admin" or session["level"]=="read_write_user"%}
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/upload_csv">
              <i class="inline-flex"><img src="/static/app-assets/media/csv.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Upload CSV</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/upload_status">
              <i class="inline-flex"><img src="/static/app-assets/media/upload.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Recent Uploads</span>
            </a>
          </li>
          {%endif%}
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/download_data">
              <i class="inline-flex"><img src="/static/app-assets/media/download.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Download Data</span>
            </a>
          </li>
          {%if session["level"]=="admin"%}
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/package_mgmt">
              <i class="inline-flex"><img src="/static/app-assets/media/dollar.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Subscription</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/get_logs">
              <i class="inline-flex"><img src="/static/app-assets/media/site.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Logs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/view_user">
              <i class="inline-flex"><img src="/static/app-assets/media/user.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Users</span>
            </a>
          </li>
          {%endif%}
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/generate_garph_view">
              <i class="inline-flex"><img src="/static/app-assets/media/graph.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Graph View</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/generate_headroom_heatmap">
              <i class="inline-flex"><img src="/static/app-assets/media/heatMap.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">Headroom Heatmap</span>
            </a>
          </li>
          {%if session["level"]=="read_only_user"%}
          <li class="nav-item">
            <a class="d-flex align-items-center" href="/contact">
              <i class="inline-flex"><img src="/static/app-assets/media/userEdit.svg" alt="none" height="18px"
                  class="imgVerticalSup" /></i>
              <span class="menu-title text-truncate" data-i18n="Home">My Account</span>
            </a>
          </li>
          {%endif%}
          <li class="nav-item d-none">
            <a class="d-flex align-items-center" href="#">
              <i data-feather="layout"></i>
              <span class="menu-title text-truncate" data-i18n="Page Layouts">Page Layouts</span>
              <span class="badge badge-light-danger rounded-pill ms-auto me-1">2</span>
            </a>
            <ul class="menu-content">
              <li>
                <a class="d-flex align-items-center" href="layout-collapsed-menu.html">
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate" data-i18n="Collapsed Menu">Collapsed
                    Menu</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="layout-full.html">
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate" data-i18n="Layout Full">Layout Full</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="layout-without-menu.html">
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate" data-i18n="Without Menu">Without Menu</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="layout-empty.html">
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate" data-i18n="Layout Empty">Layout Empty</span>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="layout-blank.html">
                  <i data-feather="circle"></i>
                  <span class="menu-item text-truncate" data-i18n="Layout Blank">Layout Blank</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="mt-auto">
          <ul class="navigation navigation-main d-flex flex-row flex-wrap justify-content-center gap-1">
            <li title="Notifications" class="mt-0">
              <a href="#" class="d-none d-lg-block p-0" id="bell">
                <img width="20" src="/static/app-assets/media/bell.svg" alt="Bell" />
              </a>
            </li>
            <li title="Logout" class="">
              <a href="/logout" class="p-0">
                <img width="20" src="/static/app-assets/media/logout.svg" alt="logout" />
              </a>
            </li>
          </ul>
          <div class="border-top position-relative">
            <div class="position-absolute collapseBtn nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"
              style="cursor: pointer">
              <img src="/static/app-assets/media/angleLeft.svg" alt="" class="" width="24px" height="24px" />
              <img src="/static/app-assets/media/angleRight.svg" alt="" width="24px" height="24px" />
            </div>
            <div class="nav-item dropdown dropdown-user flex flex-row flex-wrap align-items-center px-1 d-flex">
              <span class="avatar">
                <span id="userInitials" class="avatar" style=""></span>

                <!-- <img class="round" src="/static/app-assets/media/profile.png" alt="avatar" height="40" width="40" /> -->
                <span class="avatar-status-online"></span>
              </span>
              <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="user-nav d-sm-flex flex-wrap d-none mt-2">
                  <span class="user-name fw-bolder text-dark text-wrap">{{session['user'].split('@')[0]}}</span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="user"></i> Profile </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="mail"></i> Inbox </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="check-square"></i> Task </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="message-square"></i> Chats </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="settings"></i> Settings </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="credit-card"></i> Pricing </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="help-circle"></i> FAQ </a>
                <a class="dropdown-item" href="#">
                  <i class="me-50" data-feather="power"></i> Logout </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<nav
  class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow m-0 rounded-0">
  <marquee class="d-none d-lg-block"></marquee>
  <div class="bookmark-wrapper d-flex align-items-center w-100 px-1 px-lg-0">
    <a class="navbar-brand mt-0 d-inline-block d-lg-none" href="./starter-kit/ltr/vertical-menu-template/">
      <img src="/static/app-assets/media/logo.png" alt="Logo" />
    </a>
    <ul class="nav navbar-nav d-xl-none ms-auto">
      <li class="nav-item me-1">
        <a href="#" class="d-inline-block d-lg-none p-0" id="bellMobile">
          <img src="/static/app-assets/media/bell.svg" alt="Bell" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link menu-toggle" href="#">
          <img src="/static/app-assets/media/menu.svg" alt="none" />
        </a>
      </li>
    </ul>
  </div>
</nav>