<!DOCTYPE html>
<html>
<head>
	<title>Update user</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
	
	<script src="https://malsup.github.io/jquery.form.js"></script> 
	<link href="/static/css/notification.css" rel="stylesheet"/>
	<script src="/static/js/notification.js"></script>

	<link rel="stylesheet" href="/static/css/download_data.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	



	

</head>
<body>
	

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
			<div class="container">
				<div class="row">
				<div class="col-md-3"></div>
				<div class="login_form_cont">
					<b><h1 style="color: white;" class="text-center">Update User</h1></b>
					<div class="form-group">
						<form id="login_forms" enctype="multipart/form-data" method="post">
								
							
                    	{% for row in data %}
							<div class="row">
							<label for="email" class="col-md-12"><h4>Email:</h4></label>
							<div class="col-md-12">
								<input type="input" placeholder="Enter your Email" value="{{row['email']}}" disabled  class="form-control mt-3 bg-dark text-white" required id="email" name="email" style="font-size:18pt;height:40px;">
							</div>
							</div>
		
							<div class="row">
								<label for="end" class="col-md-12"><h4>Privileged Level</h4></label>
								<div class="col-md-12">
									<select name="prv_level" class="form-control mt-2 bg-dark text-white" style="font-size:18pt;height:40px;">
										<option value="admin" {% if row['privileged_level'] == 'admin' %} selected{% endif %}>Admin</option>
										<option value="read_write_user"{% if row['privileged_level'] == 'read_write_user' %} selected{% endif %}>Read & Write User</option>
										<option value="read_only_user"{% if row['privileged_level'] == 'read_only_user' %} selected{% endif %}>Read Only User</option>
										
									</select>
								</div>
							</div>
						{% endfor %}
		
		
							<div class="row">
							<div class="col-md-12">
								<input type="submit"  value="Update User" id="save" class = "col-md-12 btn-success btn-lg mt-5" />
							</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<input id="cancelButton"  onclick="location.reload();" class = "col-md-12 btn-secondary btn-lg mt-5" type="button" value="Cancel">
								</div>
							</div>
				
					
						
							
						
		
					</form>
					</div>
		
			
			</div>
		</div>
		
		</div>
		 </div>   
	</div>
</div>
</body>
</html>