<!DOCTYPE html>
<html>
<head>
	<title>Password updation</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
	
	<script src="https://malsup.github.io/jquery.form.js"></script> 
	<link href="/static/css/notification.css" rel="stylesheet"/>
	<script src="/static/js/notification.js"></script>

	<link rel="stylesheet" href="/static/css/download_data.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	



	<script>  
	function confirm_password(){

		var password = document.getElementById("password")
		, confirm_password = document.getElementById("confirm");

		function validatePassword(){
		if(password.value != confirm_password.value) {
			confirm_password.setCustomValidity("password does not match");
			
		} else {
			confirm_password.setCustomValidity('');
			
		}
		}
		

		password.onchange = validatePassword();
		confirm_password.onkeyup = validatePassword();
		
	}


	</script>

</head>
<body>
	<div id="toast-container"></div>
	{% if flash_message == True %}

    <script>show_toast('{{ message_toast }}', '{{ message_flag }}', '{{ page_type }}')</script>
    {% endif %}

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
			<div class="container">
				<div class="row">
				<div class="col-md-3"></div>
				<div class="login_form_cont">
					<b><h1 style="color: white;" class="text-center">Update your Password</h1></b>
					<div class="form-group">
						<form id="login_forms" enctype="multipart/form-data" method="post">
							
							<div class="row">
							<label for="email" class="col-md-12"><h4>Email:</h4></label>
							<div class="col-md-12">
								<input type="input" placeholder="Enter your Email" value="{{session['user']}}" disabled  class="form-control mt-3 bg-dark text-white" required id="email" name="email" style="font-size:18pt;height:40px;">
							</div>
							</div>

							<div class="row">
								<label for="end" class="col-md-12"><h4>Old Password:</h4></label>
								<div class="col-md-12">
									<input type="password" placeholder="Enter your Old Password" class="form-control mt-3 bg-dark text-white" required id="old_password" name="old_password" style="font-size:18pt;height:40px;">
									
								</div>
								</div>
		
							<div class="row">
							<label for="end" class="col-md-12"><h4>New Password:</h4></label>
							<div class="col-md-12">
								<input type="password" placeholder="Enter your Password" class="form-control mt-3 bg-dark text-white" required id="password" name="password" style="font-size:18pt;height:40px;">
								
							</div>
							</div>
		
							<div class="row">
								<label for="end" class="col-md-12"><h4>Confirm New Password:</h4></label>
								<div class="col-md-12">
									<input type="password" placeholder="Enter your Password again" class="form-control mt-3 bg-dark text-white" required id="confirm" name="confirm" style="font-size:18pt;height:40px;">
									
									</div>
							</div>
		
							
		
		
							
							<div class="col-md-12">
								<input type="submit" onclick="confirm_password()" value="Update Password" id="save" class = "col-md-12 btn-success btn-lg mt-5" />
							</div>
				
					
						
							
						
		
					</form>
					</div>
		
			
			</div>
		</div>
		
		</div>
		 </div>   
	</div>
</div>
</body>
</html>