<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://malsup.github.io/jquery.form.js"></script> 
	<link href="/static/css/notification.css" rel="stylesheet"/>
	<script src="/static/js/notification.js"></script>


	<script src="/static/js/upload_csv.js"></script>
	<link rel="stylesheet" href="/static/css/upload_csv.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	



</head>
<body>
	<div id="toast-container"></div>
	{% if flash_message == True %}

    <script>show_toast('{{ message_toast }}', '{{ message_flag }}', '{{ page_type }}'); </script>
    {% endif %}

	<input type="checkbox" id="checkbox">
	
	<div class="body">
		{% include 'navbar.html'%}
		
		<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
				
		
		<div class="upload_form_cont">
			<b><h1 style="color: white;">You can select the csv file and click Upload button</h1></b>
			<br/>
			<form id="upload_form" enctype="multipart/form-data" method="post">
				<div class="info">
					<div><label for="file">Please select csv file</label></div>
				
				<div class="row">
					
					<div class="col-md-4">
						<input type="file" name="file"  id = 'upload_file' required id="file" /></div>
					</div>
					<div class="col-md-8"></div>
				</div>
				<div>
					<input type="submit" value="Upload Csv" id="save" class = "btn-success btn-lg" />
				</div>
				<div class="form-group" id="process" >
				<div class="progress">
				   <div class="progress-bar progress-bar-striped active bg-success" id="myprogressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ></div>
				</div>
				</div>
			</form>

			<img id="preview" />
		</div>
	</div>

	</div>
</div>
		 </div>   
	</div>
</div>
</body>
</html>