<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="{{ url_for('auths.index') }}" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-bolt-edit"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    
    {%if request.path == '/home' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Welcome Back, User</strong></div>
    {%endif%}

    {%if request.path == '/download_data' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Download Data</strong></div>
    {%endif%}

    {% if request.path == '/add_filter' or request.path == '/package_mgmt' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Package Mgmt</strong></div>
    {%endif%}

    {% if request.path == '/get_logs' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Logs</strong></div>
    {%endif%}


    {% if request.path == '/create_user' or request.path == '/view_user' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>User Mgmt</strong></div>
    {%endif%}

    {% if request.path == '/generate_garph_view' or request.path == '/graph'  %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Graph View</strong></div>
    {%endif%}

    {% if request.path == '/generate_headroom_heatmap' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Headroom Heatmap</strong></div>
    {%endif%}

    {% if request.path == '/contact' %}
    <div class="align-items-center" style="margin-left: 40%;"><strong>Contact Us</strong></div>
    {%endif%}

    <div class="navbar-nav align-items-center ms-auto">
       
        
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa fa-user me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">{{session['user']}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="{{ url_for('auths.update_password')}}" class="dropdown-item">Settings</a>
                <a href="{{ url_for('auths.logout')}}" class="dropdown-item">Log Out</a>
            </div>
        </div>
    </div>
</nav>