{% extends 'master.html' %}

{% block title %}Contact Us - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card mb-0">
                <form id="download_forms" enctype="multipart/form-data" method="post">
                    <div class="card-body">
                        <h3 class="axiBold text-black">Contact Us</h3>
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <span><strong>Call TRUElight:</strong> 617-209-2420</span><br />
                                <span><strong>Email TRUElight:</strong> Techsupport@truelightenergy.com</span>
                            </div>                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}

{% endblock %}