<!-- templates/master.html -->
{% extends 'master.html' %}

{% block title %}Home - TRUEPrice{% endblock %}

{% block content %}
<style>
    #tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        padding: 10px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
    }
</style>
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <h3 class="axiBold text-black">Headroom Heatmap</h3>
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <svg id="heapmap_graph" class="w-100 h-100"></svg>
                        </div>
                        <div class="col-12 col-md-6 border-start">
                            <h5 class="text-black">Top 5 Utilities by Headroom Nationwide ($/kWh)</h5>
                            <div class="table-responsive table-dense">
                                <table class="table" id="data-table">
                                    <thead>
                                        <tr>
                                            <th class="px-1">Utilities</th>
                                            <th class="px-1">Utility Price</th>
                                            <th class="px-1">Headroom ($)</th>
                                            <th class="px-1">Headroom (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-12 mb-3">
            <div class="card h-100 mb-0">
                <div class="card-body">
                    <h5 class="axiBold text-black">Today's Most Volatile Energy Market</h5>
                    <div id='graphview' class='chart'></div>
                    <!-- <img src="/static/app-assets/media/energymap.jpg" alt="none" class="w-100" /> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tooltip"
    style="position: absolute; opacity: 0; pointer-events: none; background-color: white; border: solid 1px #ccc; padding: 10px;">
    <!-- Tooltip content will go here -->
</div>



{% endblock %}

{% block scriptblock %}
<script src="static/app-assets/js/core/geoJSON.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}