<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Password updation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon">


    <link href="/static/external_cdns/css/css2.css" rel="stylesheet">

    <!-- Icon Font Stylesheet -->

    <link href="/static/external_cdns/css/all.min.css" rel="stylesheet">
    <link href="/static/external_cdns/css/bootstrap-icons.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="static/css/style.css" rel="stylesheet">

    <script>  
        function confirm_password(){
    
            var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm");
    
            function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("password does not match");
                
            } else {
                confirm_password.setCustomValidity('');
                
            }
            }
            
    
            password.onchange = validatePassword();
            confirm_password.onkeyup = validatePassword();
            
        }
    
    
        </script>
</head>

<body>
   
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            {% include 'navbar.html'%}
        </div>
        <!-- Sidebar End -->


         <!-- Content Start -->
         <div class="content">
            <!-- Navbar Start -->
            {% include 'upper_navbar.html'%}
            <!-- Navbar End -->

            {% include 'notification.html'%}

            <!-- Blank Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 align-items-center justify-content-center mx-0  mt-5">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Update Password</h6>
                            <form id="login_forms" enctype="multipart/form-data" method="post">
                                
                                <div class="mb-3">
                                    <label for="start" class="form-label">Email</label>
                                    <input type="input" placeholder="Enter your email" value="{{session['user']}}" disabled  class="form-control mt-2 bg-dark text-white" required id="email" name="email"  >
                                </div>

                                <div class="mb-3">
                                    <label for="old_password" class="form-label">Old Password</label>
                                    <input type="password" placeholder="Enter your old password" class="form-control mt-2 bg-dark text-white" required id="old_password" name="old_password"  >
                                    
                                </div>


                                <div class="mb-3">
                                    <label for="password" class="form-label">New Password</label>
                                    <input type="password" placeholder="Enter your password" class="form-control mt-2 bg-dark text-white" required id="password" name="password"  >
								                                   
                                </div>

                                <div class="mb-3">
                                    <label for="confirm" class="form-label">Confir new Password</label>
                                    <input type="password" placeholder="Enter your password again" class="form-control mt-3 bg-dark text-white" required id="confirm" name="confirm"  >
								                                   
                                </div>
                                
                                <div class="mb-3">
                                    <input type="submit" onclick="confirm_password()" value="Update Password" id="save" class="btn btn-outline-primary w-100 m-2">
                                </div>
                            </form>
                        </div>
                    </div>                
            </div>

            
            </div>
            <!-- Blank End -->


            <!-- Footer Start -->
            {% include 'footer.html'%}
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
         
    </div>

    <!-- JavaScript Libraries -->
    <script src="/static/external_cdns/js/jquery-3.4.1.min.js"></script>
    <script src="/static/external_cdns/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main.js"></script>
</body>

</html>