{% extends 'master.html' %}

{% block title %}Users - TRUEPrice{% endblock %}

{% block content %}
<div class="content-body">
    <div class="row">
        <div class="col-12 col-md-12">
            <h3 class="axiBold text-black">Users</h3>
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 border-start-0 ">
                            <div class="table-responsive table-dense">
                                <table id="myTable" class="table cHeader">
                                    <thead>
                                        <tr>
                                            <th class="px-1">Email</th>
                                            <th class="px-1">Level</th>
                                            <th class="px-1 text-end">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% if data%}
                                        {% for row in data %}
                                        <tr>
                                            <td>{{row["email"]}}</td>
                                            <td>{{row["privileged_level"]}}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-12 col-md-12 align-items-end text-end" role="group" aria-label="Time filters">
                                                        {%if row["email"]!=session["user"]%}
                                                        {%if row["status"]=="enabled"%}
                                                        <a type="button"
                                                            href="/disable_user_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-secondary">Disable</a>

                                                        {%else%}
                                                        <a href="/enable_user_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-secondary">Enable</a>
                                                            {%endif%}


                                                            <a href="/update_user_ui?user_id={{ row['id'] }}"
                                                                class="btn btn-warning">Update</a>
                                                            <a title="Reset"
                                                                href="/reset_password_ui?user_id={{ row['id'] }}"
                                                                class="m-2">
                                                                <img src="/static/app-assets/media/reset.svg"
                                                                    alt="reset" class="icon-size-14" />
                                                            </a>

                                                            {%if row["privileged_level"]=="admin"%}
                                                            <a title="View Details"
                                                                href="/view_authorized_columns_ui?user_id={{ row['id'] }}"
                                                                class="m-2">
                                                                <img src="/static/app-assets/media/eye.svg" alt="reset"
                                                                    class="icon-size-14" />
                                                            </a>
                                                            <a href="/reset_subscription?user_id={{ row['id'] }}"
                                                                class="m-2">
                                                                <img src="/static/app-assets/media/trash.svg"
                                                                    alt="reset" class="icon-size-14" />
                                                            </a>
                                                            {%else%}
                                                            <a href="/view_authorized_columns_ui?user_id={{ row['id'] }}"
                                                                class="m-2">
                                                                <img src="/static/app-assets/media/eye.svg" alt="reset"
                                                                    class="icon-size-14" />
                                                            </a>

                                                            <a href="/reset_subscription?user_id={{ row['id'] }}"
                                                                title="Remove Subscription" class="m-2"><img
                                                                    src="/static/app-assets/media/trash.svg" alt="reset"
                                                                    class="icon-size-14" /></a>
                                                            {%endif%}



                                                            {%else%}
                                                            <!-- <a href="/disable_user_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-warning disabled">Disable</a>

                                                        <a href="/update_user_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-info disabled">Update</a>
                                                        <a href="/reset_password_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-primary disabled">Reset</a>

                                                        <a href="/view_authorized_columns_ui?user_id={{ row['id'] }}"
                                                            class="btn btn-primary disabled">View</a>
                                                        <a href="/reset_subscription?user_id={{ row['id'] }}"
                                                            class="btn btn-warning disabled">Remove</a> -->
                                                            {%endif%}
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {%endif%}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptblock %}
<link rel="stylesheet" type="text/css" href="/static/app-assets/css/datatable.css" />
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"> </script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
        var searchBox = $('#myTable_filter input');

        // Modify the search input's placeholder, add a class, or change other attributes
        searchBox.attr('placeholder', 'Search...');
        searchBox.addClass('search-input');
    });
</script>
{% endblock %}